body {
  background-color: rgb(15, 22, 36);
  color: rgb(15, 22, 36);
}
h1,
input {
  color: rgb(15, 22, 36);
}
input[type="radio"] {
  accent-color: grey;
}
h1 {
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
@keyframes example {
  0% {
    color: red;
  }
  25% {
    color: yellow;
  }
  50% {
    color: blue;
  }
  75% {
    color: green;
  }
  100% {
    color: red;
  }
}
.container {
  display: none;
  align-items: center;
  justify-content: center;
  width: 40%;
  flex-wrap: wrap;
  margin: auto;
  border-radius: 12px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.75);
  width: 800px;
  padding: 2rem;
}
.square {
  width: calc(90% / 3);

  height: 15vh;
  border: 1px solid black;
  cursor: pointer;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
}
.square:first-child,
.square:nth-child(2),
.square:nth-child(3) {
  border-top: none;
}
.square:nth-child(3n + 1) {
  border-left: none;
}
.square:nth-child(3n + 3) {
  border-right: none;
}
.square:last-child,
.square:nth-child(8),
.square:nth-child(7) {
  border-bottom: none;
}

.winner {
  top: 0;
  position: absolute;
  background-color: hsla(0, 0%, 0%, 0.9);
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  z-index: 7;
  height: 100vh;
}
.winnerText {
  color: white;
  font-size: 7rem;
}
.starter {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  margin: 2rem;
}

.error {
  color: red;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 1rem;
  color: beige;
}
.playerDiv1 {
  margin-right: 1rem;
}

.X,
.O {
  cursor: not-allowed;
  font-size: 6rem;
}
.X {
  color: blue;
}

.O {
  color: green;
}
.formContainer {
  display: flex;
  align-items: center;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  width: 800px;
  border-radius: 12px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.75);
}

#btnNext {
  align-self: center;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 12px;
  outline: none;
  background-color: rgba(255, 255, 255, 0.75);
  color: rgb(15, 22, 36);
  transition: 0.5s;
  margin-top: 2rem;
  width: 12rem;
  border: none;
}

#btnNext:hover {
  background-color: rgb(15, 22, 36);
  color: rgba(255, 255, 255, 0.75);
}

#input1,
#input2 {
  border-radius: 10px;
  padding: 0.5rem;
  font-size: 0.5 * 0.9rem;
  font-weight: 600;
  outline: none;
  border-color: #000;
  margin: 1rem;
  border: none;
  margin-left: 0;
  margin-top: 0.5rem;
}

.play {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}

.frm1 {
  margin-top: 1.5rem;
}

.frm1 label {
  padding: 3rem;
  padding-left: 0;
}

.frm {
  padding: 0.3rem;
  padding-left: 0;
}


.result {
  display: none;
  align-items: center;
  justify-content: space-around;
  color: white;
  font-size: 7rem;
  text-align: center;
}