body {
  background-color: rgb(15, 22, 36);
  color: #ffffff;
  font-size: 1.5rem;
  font-family: "Shadows Into Light", cursive;
}
h1,
input {
  color: rgb(15, 22, 36);
}
input[type="radio"] {
  accent-color: grey;
}
h1 {
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
@keyframes example {
  0% {
    color: red;
  }
  25% {
    color: yellow;
  }
  50% {
    color: blue;
  }
  75% {
    color: green;
  }
  100% {
    color: red;
  }
}
.container {
  display: none;
  align-items: center;
  justify-content: center;
  width: 40%;
  flex-wrap: wrap;
  margin: auto;
  border-radius: 12px;

  width: 800px;
  padding: 2rem;
}
.square {
  width: calc(90% / 3);

  height: 15vh;

  border: 1px solid rgba(255, 255, 255, 0.75);
  cursor: pointer;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.square:first-child,
.square:nth-child(2),
.square:nth-child(3) {
  border-top: none;
}
.square:nth-child(3n + 1) {
  border-left: none;
}
.square:nth-child(3n + 3) {
  border-right: none;
}
.square:last-child,
.square:nth-child(8),
.square:nth-child(7) {
  border-bottom: none;
}

.starter {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  margin: 2rem;
}

.error {
  color: red;
}

.playerDiv1 {
  margin-right: 1rem;
}

.X,
.O {
  cursor: not-allowed;
  font-size: 6rem;
  font-family: "Shadows Into Light", cursive;
}
.X {
  color: blue;
}

.O {
  color: green;
}
.formContainer {
  display: flex;
  align-items: center;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  width: 800px;
  border-radius: 12px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

#btnNext {
  align-self: center;
  padding: 1rem;
  font-size: 1.8rem;
  border-radius: 12px;
  outline: none;
  background-color: rgba(255, 255, 255, 0.75);
  color: rgb(15, 22, 36);
  transition: 0.5s;
  margin-top: 2rem;
  width: 16vw;
  border: none;
  font-family: "Shadows Into Light", cursive;
}

#btnNext:hover {
  background-color: black;
  color: white;
  border: 1px solid white;
}

#input1,
#input2 {
  border-radius: 12px;
  width: 14vw;
  padding: 1rem;
  font-size: 1.7rem;
  font-weight: 600;
  outline: none;
  border-color: #000;
  margin: 1rem;
  border: none;
  margin-left: 0;
  margin-top: 0.5rem;
  background-color: rgba(255, 255, 255, 0.75);
  font-family: "Shadows Into Light", cursive;
  color: rgb(15, 22, 36);
}

.play {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}

.frm1 {
  margin-top: 1.5rem;
}

.frm {
  padding: 0.3rem;
  padding-left: 0;
}

.result {
  display: none;
  margin: auto;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  color: white;
  font-size: 2rem;
  width: 39%;
  border-radius: 12px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.resultContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 1rem;
  width: 18rem;
}
.res1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.res1::after {
  content: "";
  position: absolute;
  right: -2vw;
  width: 2px;
  height: 6rem;
  background-color: rgba(255, 255, 255, 0.75);
}

.res2 {
  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;
}

.score {
  font-size: 3rem;
}

.winning-message {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 5rem;
  flex-direction: column;
}

.winning-message button {
  font-size: 3rem;
  background-color: white;
  border: 1px solid black;
  padding: 0.25em 0.5em;
  cursor: pointer;
  font-family: "Shadows Into Light", cursive;
  border-radius: 12px;
}

.winning-message button:hover {
  background-color: black;
  color: white;
  border-color: white;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: #0f1624;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
  border-radius: 0;
}
